*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
	font-family: 'Oswald', sans-serif;
/*font-family: 'Ubuntu', sans-serif;*/
	font-size: 16px;

	color: #111;
	/*-webkit-font-smoothing:antialiased;*/	
}


p{
	margin: 0;
	padding: 0;
}
h1{
	margin: 0;
	padding: 0;
}
h2{
	font-size: 44px;
	margin: 0;
}
h3{
	font-size: 30px;
}
h4{
	font-size: 30px;
	margin:20px 0;
}
h6{
	font-size: 18px;
	margin: 0;
}
li{
	font-size: 18px;
}

/*conteiner
==========================*/
.container{
	width: 1140px;
	margin: 0 auto;
}

/*
@media (max-width: 767px ){
	.container{
		width: max-width: 767px;
	}
}
/*
screen-sm : 576px;
screen-md : 768px;!!!!!!!!!! - max-width: 767px
screen-lg : 992px;!!!!!!!!!! - max-width: 991px
screen-xl : 1200px;

screen-sm-max : 767px
screen-md-max : 991px
screen-lg-max : 1999px
/*
*/
@media (max-width: 767px ){
	.container{
		max-width: 767px;
		width: 100%;
	}
	h2{
		font-size: 30px;
	}
}

/*_____header________*/

.header_body{
	height: 120px;
	display: flex;
	position: relative;
	z-index: 3;
	align-items: center;
	justify-content: space-between;
}
.h_pust{
	width: 50%;
}

.nav{
	height: 50px;
	font-size: 22px;
	text-decoration: none;
	display: flex;
	position: relative;
	align-items: center;
	z-index: 2;
	justify-content: space-between;
	margin-bottom: 10px;
}

.nav_link{
	color:#111;
	text-decoration: none;
	padding: 5px;
	margin: 5px;
	transition: opacity, transform .1s linear;
}
.nav_link:hover{
	opacity:1;
	margin: 3px;
	border: 2px solid black;
	transform: scale(1.05);
	/*text-decoration: underline;*/
}
.nav_link:active{
	position: relative;
	top: 2px;
	background: #fff;
}
.nav_activ{
	border: 2px solid black;
	margin: 3px;
}
.menu_burger{
	display: none;
}


@media (max-width: 767px ){
	.header{
		height: 80px;
		display: flex;
		margin:0 15px;
	}
	.header_body{
		height: 80px;
	}
	.nav{
		display: none;
	}
	.menu_burger{
		display: block;
		position: relative;
		z-index: 3;
		width: 30px;
		height: 21px;
		background: red;
	}
	.a_bl{
		display: none;
	}

}

/*_____hero ________*/

.img_hero{
	display: flex;
	height: 850px;
	width: 100%;
	background: 
	url("img/3507_new_ACCUCHECK_case_study_03.jpg") 
	center no-repeat;
	background-size: cover;
}
.container_hero{
	width: 1140px;
	margin: 0 auto;
}
.hero{
	padding-top: 200px;
	display: inline-block;
}
.nav_hero{
	width: 60%;
	margin:50px 0;
}
.nav_hero a{
	margin-top: 50px;
}

.btn{
background:rgba(255, 255, 255, 0);
display: flex;
border-radius: 4px;
border: 4px solid black;
padding: 10px 50px;
margin-top: 20px;
width: 100%;
height: 50px;
justify-content: center;
align-items: center;
text-decoration: none;
font-size: 20px;
font-weight: 400;
color: black;
}
.btn:hover{
	border: 4px solid blue;
	background: blue;
	color: #fff;
}
.btn:active{
	position: relative;
	top: 2px;
	color: blue;
	background: #fff;
}

@media (max-width: 991px){

}
@media (max-width: 767px ){
	.img_hero{
		height: 570px;
	}
	.container_hero{
		display: flex;
		justify-content: center;
	}
	.hero{
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin:0 15px;
		padding: 0;
	}
	.hero h1{
		font-size: 20px;
		font-weight: 400;
	}
	.hero h2{
		font-size: 38px;
		font-weight: 600;
		margin: 10px 0;
		line-height: 1;
	}
	.nav_hero{
		width: 100%;
		margin:20px 0;
	}
}

/*_____2 ________*/
.box_2{
	height: 800px;
	display: flex;
}
.box_2_l1{
	padding-top: 60px;
	padding: 0 10%;
	width: 70%;
	justify-content: start-end;
	margin: 70px 0;
}
.box_2_l1 p{
	font-size: 16px;
	line-height: 160%;
}
.crugi{
	height: 80%;
	display: flex;
	width: 100%;
	align-items: flex-end;
}
.crug_1{
	display: flex;
	justify-content: space-around;
}
.box_crug{
	display: flex;
	flex-direction: column;
	margin: 30px;
}
.ellipse{
	width: 120px;
	height: 120px;
	border: 4px solid #000000;
	border-radius: 100%;
	box-sizing: border-box;
	margin-bottom: 10px;
}
.ellipse img{
	margin: 26px;
}
.ell_p{
	display: flex;
	justify-content: center;
}
.box_2_r2{
	display: flex;
	background: blue;
	flex-direction: column;
	width: 30%;
}
.b2_r2_text{
	text-shadow: 2px 2px 2px rgba(1,1,1,.4);
	height: 100%;
	padding: 100px 20px;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

@media (max-width: 767px ){
	.box_2{
		height: 1170px;
		width: 100%;
		flex-direction: column;
		justify-content: space-between;
		margin-top: 10px;
	}
	.box_2_l1{
		margin: 0;
		width: 100%;
		padding-top: 60px;
		padding: 0;
		height: 660px;
	}
	.box_2_l1 h2{
		margin: 20px 15px;
	}
	.box_2_l1 p{
		font-size: 14px;
		margin-left: 15px;
		margin-bottom: 30px;
	}
	.crugi{
		width: 100%;
		flex-direction: column;
		align-items: center;
		margin-bottom: 30px;
	}
	.crug_1{
		height: 50%;
	}
	.box_crug{
		width: 50%;
	}
	.box_2_r2{
		width: 100%;
	}
	.b2_r2_text{
		padding: 80px 20px;
	}
	.b2_r2_text h4{
		margin: 0;
	}
	.b2_r2_text div{
		margin:0;
		margin: 20px;
	}
}

/*_____3 ________*/
.box_3{
	display:flex;
	height: 600px;
	width: 100%;
	margin-bottom: 70px;
}
.box_3_img{
	height: 600px;
	width: 960px;
	background: gray;
}
.box_3_img img{
	height: 100%;
	width: 100%;
	box-shadow: 6px 15px 20px 3px #AAAAAA;
}
.box_3_text{
	font-size: 18px;
	line-height: 150%;
	width: 600px;
	margin: 100px;
	align-self: center;
}
@media (max-width: 767px ){
	.box_3{
		width: 100%;
		height: 100%;
		flex-direction: column;
		margin-bottom: 0;
	}
	.box_3_img{
		width: 100%;
		height: 100%;
		order: 1;
		margin-bottom: 0;
	}
	.box_3_text{
		margin: 0;
		margin-top: 20px;
		width: 100%;
	}
	.box_3_text p{
		margin: 15px;
	}
}

/*_____4 ________*/
.box_4{
	padding-bottom: 70px;
	width: 100%;
	margin: 0 auto;
	flex-direction:column;
}
.h2_metr{
	align-items: center;
	display: flex;
	justify-content: center;
	margin: 0 100px;
	font-size: 48px;
	font-weight: 700;
	height: 200px;
	background: lightgray;
}
.box_4 p{
	margin: 2% 80px;
	font-size: 18px;
	line-height: 130%;
	letter-spacing: normal;
}
.box_4_lr{
	display: flex;
	height: 100%;
}
.box_4_l{
	display: flex;
	flex-direction: column;
	align-content: space-between;
	background: lightgray;
	margin-left: 100px;
	padding-left: 30px;
	width: 50%;
}
.box_4_r{
	text-shadow: 1px 1px 2px rgba(1,1,1,.2);
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background: blue;
	width: 50%;
	color: wheat;
	padding-right: 100px;
}
.box_4_2{
	display: flex;
	margin:0 100px;
	background: lightgray;
	height: 200px;
	align-items: center;
	padding-left: 30px;
	padding-bottom: 20px;
}

@media (max-width: 767px ){
	.box_4{
		width: 100%;
		margin-top: 0;
		padding-bottom: 0;
	}
	.box_4 p{
		margin: 0;
		font-size: 18px;
		line-height: 130%;
		margin: 12px 0;
	}
	.h2_metr{
		align-items: center;
		display: flex;
		justify-content: center;
		margin: 0;
		font-size: 40px;
		font-weight: 700;
		height: 100px;
	}
	.box_4_lr{
		height: 100%;
		display: flex;
		flex-direction: column;
	}
	.box_4_l{
		width: 100%;
		margin-bottom: 20px;
		margin: 0;
		padding: 10px;
	}
	.box_4_l p{

	}
	.box_4_r{
		width: 100%;
		padding: 0;
		padding:20px 10px;
	}
	.box_4_2{
		width: 100%;
		height: 100%;
		display: flex;
		margin:0;
		padding: 10px;
	}
}


/*_____5 ________*/
.box_5{
	display: flex;
	padding-bottom: 70px;
}
.box_5_img{
	height: 550px;
	width: 850px;
	background: gray;
}
.box_5_img img{
	height: 100%;
	width: 100%;
	box-shadow: 6px 15px 20px 3px #AAAAAA;
}
.box_5_text{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 700px;
	padding-left: 70px;
}
.box_5 p{
	margin: 25px 30px;
	font-size: 18px;
	line-height: 130%;
	letter-spacing: normal;
}
.box_5_t_1{
	display: flex;
}
.box_5_t_1 h6{
	padding-left: 40px;
	display: flex;
	margin: 0;
	font-size: 30px;
	align-items: center;
}

@media (max-width: 767px ){
	.box_5{
		width: 100%;
		flex-direction: column;
		padding-bottom: 40px;
	}
	.box_5_img{
		width: 100%;
		height: 350px;
	}
	.box_5_text{
		width: 100%;
		padding-left: 10px;
	}
	.box_5_t_1 p{
		margin: 10px 20px;
	}
	.box_5_t_1 h6{
		padding-left: 10px;
	font-size: 30px;
	}

}

/*_____6 ________*/
.box_6_1{
	margin-bottom: 70px;
}
.box_6_1 p{
	margin: 40px;
	font-size: 18px;
	line-height: 135%;
}
.box_6_1 h2{
	margin: 30px;
	font-size: 40px;
	display: flex;
	justify-content: center;
}
.box_6_c_1{
	display: flex;
}
.box_6_img{
	width: 850px;
	height: 500px;
	background: gray;
}
.box_6_img img{
	height: 100%;
	width: 100%;
	box-shadow: 6px 15px 20px 3px #AAAAAA;
}
.box_6_text{
	width: 750px;
	padding: 50px;
}
.box_6_text p{
	margin: 40px 30px;
	font-size: 18px;
	line-height: 135%;
	letter-spacing: normal;
}
.podrobnee{
	text-decoration:none;
	display: inline-block;
	background: #fff;
	font-size: 20px;
	color: blue;
	padding: 2px 5px;
	margin: 30px;
}
.podrobnee:hover{
	border: 3px solid blue;
	background: blue;
	color: #fff;
	border-radius: 4px;
	cursor: pointer;
}
.podrobnee:active{

	position: relative;
	top: 3px;
}
.box_6_2_img{
	display: flex;
	justify-content: flex-end;
	width: 50%;
	height: 500px;
	background: gray;
}
.box_6_2_img img {
	width: 100%;
	height: 100%;
	box-shadow: -6px 15px 20px 3px #AAAAAA;
}
.box_6_c_2{
	display: flex;
	justify-content: flex-end;
}
.box_6_3_img{
	display: flex;
	justify-content: flex-end;
	width: 50%;
	height: 500px;
	background: gray;
}
.box_6_3_img img {
	width: 100%;
	height: 100%;
	box-shadow: 6px 15px 20px 3px #AAAAAA;
}

@media (max-width: 767px ){
	.box_6_1{
		width: 100%;
		margin-bottom: 40px;
	}
	.box_6_1 h2{
		margin: 10px;
		font-size: 28px;
		margin-bottom: 30px;
	}
	.box_6_c_1{
		flex-direction: column;
	}
	.box_6_text{
		width: 100%;
		padding: 10px;
	}
	.box_6_text p{
		margin:20px 5px;
	}
	.box_6_img{
		height: 100%;
		width: 100%;
	}
	.podrobnee{
		font-size: 18px;
		padding: 2px 5px;
		margin: 15px;
	}
	.box_6_2 h2{
		margin: 10px;
		font-size: 30px;
		margin-bottom: 30px;
	}
	.box_6_c_2{
		flex-direction: column;
	}
	.box_6_2_img{
		width: 100%;
		height: 100%;
		order: -1;
	}
	.box_6_2{
		width: 100%;
		margin-bottom: 40px;
	}
	.box_6_3_img{
		height: 100%;
		width: 100%;
	}
	.box_6_1 p{
		margin: 15px;
		font-size: 16px;
		line-height: 135%;
	}
}

/*_____7 ________*/
.box_7{
	background: lightgray;
	display: flex;
	justify-content: center;
	padding: 70px;
	padding-left: 200px;
}
.box_7_text{
	display: flex;
	font-size: 19px;
	line-height: 130%;
	font-weight: 100;
	letter-spacing: normal;
	width: 700px;
	padding: 70px;
	align-items: center;
}
.box_7_img{
	width: 50%;
}
.box_7_img_1 img{
	margin: 3px;
	width: 20%;
	background: blue;
	box-shadow: 17px 15px 11px -2px #a4a4a4;
}

@media (max-width: 767px ){
	.box_7{
		width: 100%;
		flex-direction: column;
		padding: 0;
	}
	.box_7_text{
		width: 100%;
		padding: 30px 15px;
	}
	.box_7_img{
		display: flex;
		flex-direction: column;
		width: 100%;
		margin-bottom: 20px;
	}
	.box_7_img_1{
		display: flex;
		justify-content: center;
		width: 100%;
	}

}

/*_____8 ________*/
.box_8{
	display: flex;
	margin:70px;
}
.box_8_l{
	width: 60%;
	padding-right: 190px;
	display: flex;
	flex-direction: column;
}
.box_8_l a{
	margin:15px 0;
	font-size: 18px;
	color: #000;
	text-decoration: none;
}
.box_8_l p{
	font-size: 20px;
	font-weight: 100;
	margin-bottom: 20px;
}
.box_8_l div{
	margin-top: 40px;
}
.box_8_l h3{
	font-stretch: condensed;
	font-weight: 700;
	font-size: 44px;
}
.box_8_social img{
	width: 45px;
	height: 45px;
}


.box_8_r{
	width: 40%;
	padding: 50px;
	box-shadow: 0px 0px 20px 15px rgba(0, 0, 0, 0.15);
}
.box_8_cont{
	width: 100%;
	height: 100%;
}
.forma_form{
	display: flex;
	flex-direction: column;
	align-content: space-between;
}
.form_input{
	margin-bottom: 30px;
	border: 1px solid black;
	height: 55px;
	width: 100%;
	padding-left: 20px;
}
.form_input_message{
	padding: 20px 20px;
	cursor: text;
	margin: 0em;
	font: 400 13.3333px Arial;
	border: 1px solid black;
	min-height: 90px;
	margin-bottom: 15px;
	width: 100%;
}
.form_input._error{
	box-shadow: 0px 0px 15px 2px red;
}
.checkbox{
	display: flex;
	font-size: 13px;
	line-height: 1.5;
	font-weight: 400;
	cursor: pointer;
}
.checkbox_input._error{
	box-shadow: 0px 0px 7px 3px red;
}

@media (max-width: 767px ){
	.box_8{
		width: 100%;
		flex-direction: column;
		margin:0;
		padding:15px;
	}
	.box_8_l{
		width:100%;
		margin: 0;
		padding: 10px;
	}
	.box_8_r{
		width: 100%;
		padding: 30px;
		margin: 20px 0;
	}
}



/*_____accredit ________*/

.img_obsee_1{
	display: flex;
	flex-direction: column;
	height: 850px;
	width: 100%;
	background: 
	url("img/papers.co-vi77-brainstorming-abstract-pattern-35-3840x2160-4k-wallpaper.jpg") 
	center no-repeat;
	background-size: cover;
}
.obsee_h{
	margin:50px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.obsee_1{
	display: flex;
	font-size: 18px;
	align-items: center;
}
.obsee_1 img{
	width: 50px;
	height: 50px;
	margin: 15px;
}
.f4b_5{
	display: flex;
	height: 280px;
	margin: 20px;
}
.f2{
	display: flex;
	flex-direction: column;
	padding: 15px;
	color: #fff;
	display: flex;
	height: 280px;
	background: #1b4f6e;
	width: 50%;
	margin: 10px;
	font-size: 16px;
}
.f2 h4{
	font-size: 20px;
	width: 100%;
	margin-left: 20px;
	height: 100px;
}
.sto h3{
	font-size: 20px;
	margin:50px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.ol{
	line-height: 2;
	margin-left: 30px;
	margin-bottom: 100px;
}
.contact{
	display: flex;
	align-items: center;
}
.cont_1l{
	width: 30%;
	margin:40px 0;
}
.cont_1l a{
	text-decoration: none;
	font-size: 18px;
	color: #000;
}
.cont_1l h6{
	margin-top: 15px;
	margin-bottom: 5px;
}
.client_1{
	margin: 50px;
	background: lightgray;
	height: 500px;
	display: flex;
}
.cl_name{
	width: 30%;
	font-size: 24px;
	margin: 30px;
}
.cl_name img{
	width: 100%;
	height: 100px;
	background: gray;
}
.cl_opis{
	width: 70%;
	margin: 50px;
	font-size: 18px;
}
.maps{
	width: 70%;
}
.maps iframe{
	width: 100%;
}
.a_bl{
	text-decoration: none;
	font-size: 17px;
	color: #000;
}
.privacy{
	padding: 15px;
}
@media (max-width: 767px ){
	.contact{
		flex-direction: column;
		align-items: flex-start;
	}
	.cont_1l{
		width: 100%;
		padding:20px;
		margin: 0;
	}
	.cont_1l h2{
		font-size: 44px;
	}
	.cont_1l a{
		text-decoration: none;
		font-size: 18px;
		color: #000;
	}
	.cont_1l h6{
		margin-top: 15px;
		margin-bottom: 5px;
	}
	.maps{
		width: 100%;
	}
}
@media (max-width: 767px ){
	.client_1{
		margin: 0;
		height: 100%;
		margin-bottom: 15px;
		flex-direction: column;
	}
	.cl_name{
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		font-size: 24px;
		margin: 0;
	}
	.cl_name img{
		width: 80%;
		height: 100px;
	}
	.cl_opis{
		width: 90%;
		margin:30px 15px;
		font-size: 18px;
	}
}

@media (max-width: 767px ){
	.obsee_h{
		margin:0;
	}
	.obsee_h p{
		padding-left: 15px;
		font-weight: 600;
	}
	.obsee_h h3{
		font-size: 20px;
		width: 90%;
	}
	.box_5_t_1{
		margin: 10px 0;
	}
	.box_5_t_1 h6{
	padding-left: 0;
	}
	.box_5_t_1 p{
		margin: 0 10px;
		font-size: 16px;
	}
	.box_5_text{
		margin-top: 30px;
	}
	.obsee_1{
		font-size: 16px;
	}
	.img_obsee_1{
		flex-direction: column;
		height: 100%;
		padding-bottom: 30px;
	}
	.f4b_5{
		display: flex;
		height: 100%;
		margin: 0;
		flex-direction: column;
	}
	.f2{
		padding: 14px;
		width: 100%;
		margin: 0;
		margin-bottom: 10px;
		font-size: 16px;
	}
	.f2 p{
		padding-bottom: 10px;
	}
	.sto h3{
		font-size: 20px;
		margin:40px 15px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.ol{
		line-height: 2;
		margin:0 10px;
		margin-bottom: 0;
	}
	.ol li{
		line-height: 1.4;
		margin: 12px;
	}
}



/*_____footer ________*/
.footer{
	padding-top: 50px;
	background: blue;
	height: 500px;
	color: #fff;
}
.footer_col{
	display: flex;
	justify-content: space-between;
}
.footer_col div{

}
.f_col1{
	display: flex;
	flex-direction: column;
}
.f_col1 a{
	font-size: 18px;
	color: #fff;
	margin: 12px 0;
	text-decoration: none;
}

@media (max-width: 767px ){
	.footer{
		height: 100%;
		width: 100%;
		padding: 25px;
	}
	.footer_col{
		flex-direction: column;
	}
	.footer_col div{
	}
	.f_col1{
		margin: 10px 0;
	}
	.f_col1 a{
		font-size: 18px;
		margin: 7px 0;
	}
}